@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-size: 18px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  h1,
  button {
    font-family: 'Bellefair', serif;
  }

  nav,
  span,
  h2 {
    font-family: 'Barlow Condensed', sans-serif;
  }
}